@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
/* Navbar container */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{
  margin:0;
}
.navbar {
  overflow: hidden;
  background-color: #0091F8;
  font-family: 'Noto Sans KR', sans-serif;
}

#governor{
  top: 0px !important;
}

#home{
  float:left;
}

#dropdown1.show1{
  display: block;
}

#dropdown2.show2{
  display: block;
}

#dropdown3.show3{
  display: block;
}

#title{
  float:left;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: 2rem;
  min-width: 160px;
  text-transform: uppercase;
}

#title:hover{
  background-color: #0091F8;
  cursor: default;
}

.link{
  display: inline-block;
  font-weight: 400;
  min-width: 160px;
}

#nav-links{
  display: inline-block;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  display: inline-block;
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  min-width: 160px;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f86700;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f86700;
  color: #fff;
}

.my-jumbotron {
    width: 100%;
    height: 100vH;
    background: rgb(0,208,255);
    background: linear-gradient(90deg, rgba(0,208,255,1) 0%, rgba(0,209,251,1) 30%, rgba(0,198,255,1) 58%, rgba(0,255,234,1) 100%);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    align-items: center;
    flex-direction: column;
  }

.title{
    font-size: 3em;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #101010;
    letter-spacing: 2px;
}

.grid-container{
    display: grid;
    grid-column-gap: 5rem;
    padding-top: 1.5rem;
    background-color: #0091F8;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    padding-bottom: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

#item1{
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
  
#item2{
  grid-column-start:2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#item3{
  grid-column-start:3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.ftitle{
  width:100%;
  text-align: center;
}

.flink{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.flink:hover{
  background-color: #f86700;
}

.line{
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px;
}

.burger{
  display: none;
}

.dropdown-content-in{
  display: none;
  position: absolute;
  margin-left: 160px;
  min-width: 160px;
  top: 0;
  background-color: #fff;
  color: #000;
  margin-bottom: 96px;
}

.dropbtn-in{
  float: none;
  outline: none;
  width: 100%;
  color: #000;
  background-color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  border: none;
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: 'Noto Sans KR', sans-serif;
}

.dropdown-in:hover .dropdown-content-in{
  display: block;
  box-shadow: 0px 8px 16px 0px #CDCDCD;
}

.dropbtn-in:hover{
  cursor: pointer;
  background-color: #f86700;
  color: #fff;
}

.dropdown-in.click{
  display: block;
}

.dropbtn-in{
  text-align: right;
}

@media screen and (max-width: 1200px){

  .dropbtn{
    width: 100%;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;
  }

  .link{
    padding-right: 16px !important;
  }

  .dropbtn{
    min-width: 356.31px;
    justify-content: end;
    text-align: right;
  }

  .navbar a{
    text-align: right;
  }

  .dropdown-content{
    width: 100%;
  }

  .dropdown-content a:hover {
    color: #fff;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #fff;
    background-color: #f86700;
  }

  #nav-links{
    position: absolute;
    height: 100%;
    background-color: #009cf8;
    margin-top: 53px;
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 100;
  }

  .dropdown{
    width: 100%;
    text-align: right;
    float: left;
  }

  .link{
    width: 90%;
    float: left;
    text-align: left;
  }
  .burger{
    display: inline-block;
    float: right;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
  }

  .grid-container{
    display: flex;
    flex-direction: column;
  }


  #item2{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #nav-links.show-nav{
    display: flex;
  }

  .dropdown-content{
    background-color: #fff;
    right: 0%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content-in{
    margin-left: 176px;
  }
}
table{
	border-collapse: collapse;
	margin-left: 3rem;
	font-family: "Montserrat", sans-serif;
  margin-bottom: 4rem;
}

table, td{
	border: 1px solid #CDCDCD;
}

th{
	border-right: 1px solid #CDCDCD;
	background-color: #18A0FB;
	color: white;
}

th, td{
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.heading, .data{
	justify-content: center;
	text-align: center;
	align-items: center;
}

#container {
	height: 2rem;
	width: 30%;	
	margin-top: 4rem;
	background-color: #18A0FB;
	border: none;
	margin-left: 3rem;
	box-shadow: 2px 2px 4px black;
	margin-bottom: 2rem;
	color: white;
	padding-left: 0.5rem;
	border-radius: 6px;
	font-family: "Montserrat", sans-serif;
}

.opt{
	padding-top: 1rem;
	font-size: 15px;
}

.tlink{
	width: 7rem;
	height: 2rem;
	background-color: #18A0FB;
	outline: none;
	border: none;
	color: white;
	border-radius: 4px;
}

#container:hover, .tlink:hover{
	cursor: pointer;
}

.tlink:hover{
	background-color: #f86700;
}